SUB_DOMAIN=localhost
NEW_LISTING_PROCESS_HOST=http://localhost:3003
WEBSITE_URL=http://localhost:3001
SITENAME=Spacenow
ADMIN_EMAIL=admin@spacenow.com
DATABASE_SCHEMA=spacenow_2019
DATABASE_HOST=127.0.0.1
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_ENDPOINT=spacenow-test.cjo4zy3wnflc.ap-southeast-2.rds.amazonaws.com/spacenow_2019
FIXER_API_ACCESS_KEY=825885ba0257aa69c1bf01692b2d4d6e
PAYPAL_HOST=api.sandbox.paypal.com
PAYPAL_APP_CLIENT_ID=AXXguute4tU0SMYuqhiDIfxSS7fByMIvjomLmoADBy-Noj5mRfDYYCDca8kpkY2u6p6FE8j0dhdT60Ui
PAYPAL_APP_SECRET=EFiZXzYCrnbFJ_cr31IE3OwWhe6SxXXQAK0SOC4Q_L2MpFAIGOY8KE1kTUL3fTCnKByQoGML7B0vNqG5
BRAINTREE_MERCHANT_ID=x52hfrbnmdwzv7k5
BRAINTREE_PUBLIC_KEY=r3c47nwgqb89c8nm
BRAINTREE_PRIVATE_KEY=2371d8140ce834ab852e4f7a9bc8c33f
MAILCHIMP_API=https://us14.api.mailchimp.com/3.0/lists/192185/members
MAILCHIMP_LIST_ID=192185
MAILCHIMP_API_KEY=1021c13b5e5513709ed84c05a245ee2e-us14
JWT_SECRET=Spacenow
FACEBOOK_APP_ID=1559110511058634
FACEBOOK_APP_SECRET=c77fbb562a44e8c4d30a8afb4c34c7d0
GOOGLE_CLIENT_ID=500403577192-e6qmlgiposip0i7reflgfog313t2ra0u.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=9OhKJ2qDpEmj7Vx2bC4YJF_r
GOOGLE_TRACKING_ID=UA-76237766-1
GOOGLE_MAP_API=AIzaSyD3g9-cXL-E5TBSz2epPrf3QaxvSiPLBes
GOOGLE_CAPTCHA=<???>
STRIPE_SECRET_KEY=sk_test_YNAdlWZunV1yXsM9XGtDdz9N
SMTP_HOST=smtp.gmail.com
SMTP_FROM_NAME=Spacenow No-Reply
SMTP_SENDER_EMAIL=smtp.gmail.com
SMTP_PORT=587
SMTP_LOGIN_EMAIL=no-reply@spacenow.com
SMTP_LOGIN_PASSWORD=Spac.918273!
TWILIO_ACCOUNT_SID=AC0a6079af8458645576a61547cb2dc600
TWILIO_AUTH_TOKEN=7282f22c89b71c3c36db6529beef2735
TWILIO_PHONE_NUMBER=610424949901
S3_BUCKET=sandpit-spacenow-images
AWS_ACCESS_KEY_ID=AKIASKESAWVX5P4ZT6HV
AWS_SECRET_ACCESS_KEY=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
API_BOOKING=http://localhost:6007/bookings
API_AVAILABILITIES=http://localhost:6011/availabilities
API_ASSETS=http://localhost:6007
NODE_ENV=development
REACT_APP_GOOGLE_MAPS_KEY=AIzaSyDn3TUN5deolyjfXTMt5-9BaDpBtwN1bIc
REACT_APP_GRAPH_HOST=http://localhost:4000/graphql
REACT_APP_LEGACY=http://localhost:3001
GENERATE_SOURCEMAP=FALSE
INLINE_RUNTIME_CHUNK=FALSE
DEBUG=TRUE
PLAYGROUND=TRUE
ASSETS_API_HOST=http://localhost:6007
CATEGORIES_API_HOST=http://localhost:6003
SPACES_API_HOST=http://localhost:6002
USERS_API_HOST=http://localhost:6001
BOOKINGS_API_HOST=http://localhost:6007